# Byte-compiled / optimized / DLL files
**/__pycache__/

# Ignore config file b/c of key
\config.py

# Ignore env folder
.venv

# Ignore database
*.sqlite
*.sqlite3
instance/*.sqlite
instance/*.sqlite3
db.sqlite

Python_Scripts
