
body {
    margin: 0;
}

/* Intro */
/* Default (Laptops & Larger Screens) */
.ike {
    max-width: 50%; 
    height: auto; 
    position: absolute;
    left: 30%; /* More to the left */
    top: 15rem; 
}

.title_page_titles {
    position: absolute;
    left: 45%; /* Moves the text onto the right side of the image */
    top: 20rem; 
    z-index: 1; /* Above the image */
    text-align: left;
}
.title_page_titles h1 {
    font-size: 3rem;
    
}

/* About Page */
.about_page_title h1 {
    padding-top: 40rem;
    padding-left: 5rem;
}

.vl_middle {
    border-left: 2px groove;
    height: 32rem; /*480px*/
    position: absolute;
    left: 50%;
    top: 50rem;
    bottom: 0;
}   
.about_page_body p {

    padding-top: 10rem;
    padding-left: 10rem;
    padding-right:10rem;
    font-size:1.2rem;
    grid-row: 1 / 2;
}
.about_page_body {
    display: grid;
    grid-template-rows: repeat(2, 0.3fr);
    gap: 2rem;
}
.ike-standin {
    /* padding-right:40rem;
    height: auto; 
    position: absolute; */
    max-width: 80%; 
    grid-row: 2 / 2;
}

/* Contact Page */
.contact_page_title h1 {
    padding-top: 5rem;
    padding-left: 5rem;
    font-size: 40px;
}

hr {
    border-color: rgb(29, 32, 39);
}

/* Set all "a" elements to white in dark mode*/
[data-bs-theme=dark] a {
    color: var(--bs-light);
}

/* Set all "a" elements to black in light mode*/
[data-bs-theme=light] a {
    color: var(--bs-dark);
}

/* Set hover of all "a" elements to red */
[data-bs-theme="dark"] a:hover,
[data-bs-theme="light"] a:hover {
    color: var(--bs-red);
}

/* set login button to have white border and white text in dark mode */
[data-bs-theme="dark"] button.login-custom {
    color: var(--bs-light);
    border: var(--border-light);

}
/* set login button to have black border and black text in light mode */
[data-bs-theme=light] button.login-custom {
    color: var(--bs-dark);
    border: var(--border-dark);
}
/* set sign up button to have red background and border in both light and dark mode */
[data-bs-theme="light"] button.signup-custom,
[data-bs-theme="dark"] button.signup-custom {
    background-color: var(--bs-red);
    border: var(--border-dark);
}


/* set login button to have red hover */
[data-bs-theme="light"] button:hover.login-custom,
[data-bs-theme="dark"] button:hover.login-custom {
    background-color:var(--bs-red);
}

/* Change clipboard icon to black in light mode*/
[data-bs-theme="light"] img.clipboard-solid {
    filter: invert(0%) brightness(15%);
}

/* Tablets (Stack Titles Above Image, Centered) */
@media (max-width: 1024px) {
    .ike {
        position: static;
        display: block;
        max-width: 70%; 
        /*top right bottom left*/
        margin: 2rem auto auto auto;
    }

    .title_page_titles {
        position: static;
        text-align: center;
        margin-top: 0rem;
    }

    /* About Page */
    .about_page_title h1 {
        padding-top: 10rem;
        padding-left: 0rem;
        text-align: center;
    }

    .about_page_body p {
        padding-top: 5rem;
        padding-left:2rem;
        padding-right:2rem;
        font-size:1.2rem;

    }

    .about_page_body {
        display: flex;
        flex-direction: column;
    }

    .ike-standin {
        max-width: 100%; 
    }

    #about_paragraph {
        order:2;
    }

    #ike-standin {
        order:1;
    }

}

/* Phones (Same as Tablets, But Smaller) */
@media (max-width: 767px) {
    .ike {
        max-width: 90%; 
    }

    .title_page_titles h1 {
        font-size: 2.5rem; 
    }

    .title_page_titles h2 {
        font-size: 1.5rem; 
    }
}