<!DOCTYPE html>
<html lang="en"  data-bs-theme="dark">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{% block title %} {% endblock %}Tactical Emblem Hub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>
<script>

</script>
<body >
    <div>
    {% extends "message.html" %}
    {% block body %}
        <div id="title_page">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <!-- Logo -->
                        <a href="/" class="navbar-brand">
                            <img src="{{ url_for('static', filename='img/clipboard-solid.svg') }}" class="img-fluid clipboard-solid" alt="clipboard" width="40" height="24">
                        </a>
                
                        <!-- Navbar Toggler (for Mobile) -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                
                        <!-- Navbar Content -->
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <div class="d-flex flex-column flex-lg-row w-100 align-items-center justify-content-between">
                                <!-- Centered Nav Links -->

                                <ul class="navbar-nav mx-auto text-center">
                                    <li class="nav-item">
                                        <a href="#title_page" class="nav-link px-2 " data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#about_page"  class="nav-link px-2" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ url_for('main.faq') }}" class="nav-link px-2 " data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">FAQs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ url_for('main.contact') }}" class="nav-link px-2" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contact</a>
                                    </li>
                                </ul>
                                     
                                       
                                    

                
                                <!-- Right-Aligned Login & Signup Buttons -->
                                {%if current_user.is_authenticated%}
                                    <div class="d-flex flex-column flex-lg-row align-items-center mt-3 mt-lg-0">
                                        <a href="{{ url_for('main.logout') }}">
                                            <button type="button" class="btn btn-outline-primary me-2 login-custom" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Log out</button>
                                        <a>
                                        
                                        <a href="#">
                                            <button type="button" class="btn btn-primary signup-custom" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Create Team!</button>
                                        <a>
                                    </div>
                                {%else%}
                                    <div class="d-flex flex-column flex-lg-row align-items-center mt-3 mt-lg-0">
                                        <a href="{{ url_for('main.login') }}">
                                            <button type="button" class="btn btn-outline-primary me-2 login-custom" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Login</button>
                                        <a>
                                        
                                        <a href="{{ url_for('main.signup') }}">
                                            <button type="button" class="btn btn-primary signup-custom" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Sign-up</button>
                                        <a>
                                    </div>
                                {% endif %}



                            </div> <!--class="d-flex flex-column flex-lg-row w-100 align-items-center justify-content-between"-->
                        </div> <!--class="collapse navbar-collapse" OR Navbar Content-->

                        <!-- this works, but buttons in navbar DO NOT -->
                        <!-- <a href="{{ url_for('main.index',_anchor='contact_page') }}" >Contact</a> -->
                        
                                    
                    </div> <!--class="container-fluid"-->
                </nav>
            </div>
            

         
                <img src="{{ url_for ('static', filename='img/Ike_SSBU.png') }}" class = "ike mx-auto img-fluid">
                <div class="title_page_titles"  >
                    <h1 class>Tactical Emblem Hub</h1>
                    <h2 class="" >Create Your Team!</h2>  <!-- Can Potentially make this a link to the create_team page, make blue upon login -->
                </div> 

        </div>


        <div id="about_page">
            <div class="vl_right"></div>

            <div class="about_page_title" id="about_page_title" >
                <h1>What is Tactical Emblem Hub?</h1>
            </div>

            <div class="about_page_body" id="about_page_body">
                <!-- <div class="vl_middle"></div> -->
                
                <p id="about_paragraph" >Tactical Emblem Hub is your go-to platform for managing and organizing Fire Emblem teams and strategies. Build custom teams, create detailed strategies, and refine your tactics to dominate the battlefield. Whether you're a casual player or a competitive strategist, our tools help you plan, track, and perfect your gameplay.
                    Start crafting your ultimate Fire Emblem strategy today!<p>
                <img id="ike-standin" src="{{ url_for ('static', filename='img/Ike_SSBU.png') }}" class = "ike-standin img-fluid">
                        
                
            </div>

        </div>


        <div id="footer">
            <div class="container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
                  <p class="col-md-4 mb-0 text-body-secondary">&copy; 2025 Tactical Emblem Hub</p>
              
                  <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                  </a>
              
                  <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item"><a href="#title_page" class="nav-link px-2 text-body-secondary">Home</a></li>
                    <li class="nav-item"><a href="#about_page" class="nav-link px-2 text-body-secondary">About</a></li>
                    <li class="nav-item"><a href="{{ url_for('main.faq') }}" class="nav-link px-2 text-body-secondary">FAQs</a></li>
                    <li class="nav-item"><a href="{{ url_for('main.contact') }}" class="nav-link px-2 text-body-secondary">Contact</a></li>
                  </ul>
                </footer>
              </div>
            </div>

        {% endblock %}
    </div>

    

    <!-- Bootstrap JS (needed for toggling navbar) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    
</body>

</html>